<!DOCTYPE HTML>
<html>
	<head>

		<title>{{seo-title}} @Simpllo.com</title>
        <meta name="description" content="{{seo-desc}}">
        <meta name="keywords" content="{{seo-keys}}">

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<link rel="stylesheet" href="{{root}}assets/css/main.css" />
		<noscript><link rel="stylesheet" href="{{root}}assets/css/noscript.css" /></noscript>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139392888-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-139392888-1');
</script>

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			{{> menu}}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							
							{{> body}}

							
						</div>
					</div>

			{{> footer}}

			</div>

		{{> scripts}}

	</body>
</html>