<!DOCTYPE HTML>
<html>
	<head>

		<title>{{seo-title}} @Simpllo.com</title>
        <meta name="description" content="{{seo-desc}}">
        <meta name="keywords" content="{{seo-keys}}">

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<link rel="stylesheet" href="{{root}}assets/css/main.css" />
		<noscript><link rel="stylesheet" href="{{root}}assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper">

			{{> menu}}

				<!-- Main -->
					<div id="main">
						<div class="inner">
							
							{{> body}}

							
						</div>
					</div>

			{{> footer}}

			</div>

		{{> scripts}}

	</body>
</html>